{% extends 'base.html' %}

{% block title %}
{{ block.super }} | Вакансия : {{ vacancy.title }}
{% endblock %}


{% block cards1 %}
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-12 col-lg-8">
      <section class="pl-3 ">

        {% include 'incl/vac_text.html' %}

          {% if flag_application %}
            {% include 'incl/vac_form.html' %}
          {% elif user.is_authenticated %}
            <div class="text-center mt-3 mb-5">
              <a class="btn btn-primary" href="{% url 'application' vacancy.pk %}"> Откликнуться на вакансию </a>
            </div>
          {% endif %}


      </section>
    </div>
  </div>

{% endblock %}